<div class="diplomirane_form">

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div>
    <%= f.label :name, "Username" %>:
    <%= f.text_field :name, :size => 40 %>
  </div>

	<div>
    <%= f.label :first_name %>:
    <%= f.text_field :first_name, :size => 40 %>
  </div>
	
	<div>
    <%= f.label :second_name %>:
    <%= f.text_field :second_name, :size => 40 %>
  </div>

	<div>
    <%= f.label :last_name %>:
    <%= f.text_field :last_name, :size => 40 %>
  </div>

	<div>
    <%= f.label :number %>:
    <%= f.text_field :number, :size => 40 %>
  </div>

	<div>
    <%= f.label :grade %>:
    <%= f.select(:grade, ["12a","12b","12v","12g"] )  %>
  </div>

  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.password_field :password, :size => 40 %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirm' %>:
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>

	<div>
    <%= f.label :user_type %>:
    <%= f.select(:user_type, ["student", "teacher", "graduation supervisor"] ) %>
  </div>

	<div>
		<%= f.label :access %>:
		<%= f.select(:access, ["user","admin"] )  %>
	</div>

  <div>
    <%= f.submit %>
  </div>

  </fieldset>
<% end %>

</div>

