<script type="text/javascript"> 
function render() {
    if (document.getElementById('user_user_type').value == "graduation supervisor" ||
				document.getElementById('user_user_type').value == "teacher") {
        document.getElementById('gs').style.display = 'block';
				document.getElementById('stud').style.display = 'none';
				document.getElementById('stud').style.display = 'none';
    } else {
        document.getElementById('gs').style.display = 'none';
				document.getElementById('stud').style.display = 'block';
				document.getElementById('stud').style.display = 'block';
    }
}
</script>
<%= javascript_tag "render()" %>

<div class="diplomirane_form">

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div>
    <%= f.label :name, "Username" %>:
    <%= f.text_field :name, :size => 40 %>
  </div>

	<div>
    <%= f.label :first_name %>:
    <%= f.text_field :first_name, :size => 40 %>
  </div>
	
	<div>
    <%= f.label :second_name %>:
    <%= f.text_field :second_name, :size => 40 %>
  </div>

	<div>
    <%= f.label :last_name %>:
    <%= f.text_field :last_name, :size => 40 %>
  </div>

	<div>
    <%= f.label :user_type %>:
    <%= f.select(:user_type, {:"student" => 'student', :"graduation supervisor" => 'graduation supervisor',  
				:"teacher" => 'teacher'},{}, {:onclick=>"render()"} ) %>
  </div>
	
	
	<div id="gs" style="display: none">
		<%= f.label :business, "Business:" %>:
		<%= f.text_field :business, :size => 40 %>
	</div>
	<div id="stud">
    <%= f.label :number, "Number:" %>:
    <%= f.text_field :number, :size => 40 %>
  
    <%= f.label :grad, "Grade:" %>:
    <%= f.select(:grade, ["","12a","12b","12v","12g"] )  %>
  </div>

  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.password_field :password, :size => 40 %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirm' %>:
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>

	<div>
		<%= f.label :access %>:
		<%= f.select(:access, ["user","admin"] )  %>
	</div>

  <div>
    <%= f.submit %>
  </div>

  </fieldset>
	<%= javascript_tag "render()" %>
<% end %>

</div>

