<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @grade.number %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>User ids:</strong>
  <%= @grade.user_ids %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
